spring:
  cloud:
    stream:
      #default-binder: kafka
      default-binder: rabbit
      
      function:
        definition: onStockResponse;onRedisResponse
      
      bindings:
        stock-command-out:
          destination: ms2-stock-requests
          content-type: application/json

        redis-command-out:
          destination: ms2-redis-requests
          content-type: application/json

        onStockResponse-in-0:
          destination: ms2-stock-replies
          group: ms1-saga-group
          content-type: application/json 
        
        onRedisResponse-in-0:
          destination: ms2-redis-replies
          group: ms1-saga-group
          content-type: application/json

      kafka:
        binder:
          configuration:
            spring.json.trusted.packages: "*"



  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest